<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/feed.css">
  <title>Feed</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="header">
    <img
      src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/pinterest-round-color-icon.png"
      class="icon pinterest-icon">
    <ul class="navigation">
      <a href="/feed"><li>Home</li></a>
      <a href="/profile"><li>Profile</li></a>
    </ul>
    <div class="search-bar">
      <div class="search-icon"><i class="fa fa-search"></i></div>
      <input type="text" placeholder="Search">
    </div>
  </div>

    <div class="container">

      <% for (let i=0; i < totalPosts; i +=1) { %>
        <div class="column">
          <% for (let j=i; j < i + 1 && j < totalPosts; j++) { %>
            <div class="content-wrapper">
              <div class="image-wrapper">
                <div class="overlay">
                  <div>
                    <p>@<%= posts[j].user.username %></p>
                    <button class="save">Save</button>
                  </div>
                  <div>
                    <button class="spheric-button">
                     <%= posts[j].imagetext %>
                    </button>
                    <button class="round-button">
                      <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                    </button>
                    <button class="round-button">
                      <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                    </button>
                  </div>
                </div>

                <img
                  src=" /images/uploads/<%= posts[j].image %>"
                  alt="">
              </div>
            </div>
            <% } %>
        </div>
        <% } %>

          <% posts.forEach(function(post){ %>

            <%})%>

        
    </div>
</body>

</html>