*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #b8b8b8;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    height: 80vh;
    width: 40vw;
    background-color: white;
    border-radius: 8px;
}